<%= form_for @status do |status| %>
	<div class="form-group">
		<%= status.label :o2, class: 'control-label' %>
		<%= status.text_field :o2, class: 'form-control'	%>
	</div>

	<div class="form-group">
		<%= status.label :conductivity, class: 'control-label' %>
		<%= status.text_field :conductivity, class: 'form-control'	%>
	</div>

	<div class="form-group">
		<%= status.label :pH, class: 'control-label' %>
		<%= status.text_field :pH, class: 'form-control'	%>
	</div>

	<div class="form-group">
		<%= status.label :turbidity, class: 'control-label' %>
		<%= status.text_field :turbidity, class: 'form-control'	%>
	</div>

	<div class="form-group">
		<%= status.label :temp, class: 'control-label' %>
		<%= status.text_field :temp, class: 'form-control'	%>
	</div>

	<%= status.label :location %>
	<% # displays Location name as text, while mapping the title to its ID for submission %>
	<%= select( "status", "location_id", Location.all.collect { |loc| [loc.title, loc.id] }) %> 

	<%= status.submit 'Save', class: 'btn btn-primary' %>
<% end %>