<h1>Water Quality Alerts</h1>
<% row = 0 %>
<table>
	<thead>
		<tr>
		  <th>ID</th>
		  <th>Date Submitted</th>
		  <th>Alert</th>
		  <th>Status</th>
		  <th>Address</th>
		  <th>Phone #</th>
		  <th colspan="3"></th>
		</tr>
	</thead>
	<% @alerts.each do |alert| %>
		<% if row %2 == 1 %>
			<tr class="bluerow">
		<% else  %>
			<tr>
		<%end %>
			<td><%= alert.id %></td>
			<td><%= alert.created_at.strftime("%B %d, %Y") %></td>
			<td><%= alert.short_version %></td>
			<td><%= alert.get_status %></td>
			<td><%= alert.address %></td>
			<td><%= alert.phone %></td>
			<td><%= link_to 'Details', edit_alert_path(alert) %></td>
		</tr>
		<% row += 1 %>
	<% end %>
</table>