<%= form_for @update do |update| %>
	<div class="form-group">
		<%= update.label :lead, class:'control-label' %>
		<%= update.text_field :lead, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= update.label :mercury, class:'control-label' %>
		<%= update.text_field :mercury, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= update.label :plutonium, class:'control-label' %>
		<%= update.text_field :plutonium, class: 'form-control' %>
	</div>

	<%= update.label :location %>
	<% # displays Location name as text, while mapping the title to its ID for submission %>
	<%= select( "update", "location_id", Location.all.collect { |loc| [loc.title, loc.id] }) %> 

	<%= update.submit 'Save', class: 'btn btn-primary' %>
<% end %>