<h1>Edit Report Status</h1>

<% # NOTE This is just copied from "Edit", please clean it up %>
<%= form_for(@report) do |f| %>

  <div class="field">
    <%= f.label :id %>: <%= @report.id %>
  </div>

  <div class="field">
    <%= f.label :body %>: <%= @report.body %>
  </div>

  <div class="field">
    <%= f.label :address %>: <%= @report.address %>
  </div>

  <div class="field">
    <%= f.label :created_at %>: <%= @report.created_at.strftime("%B %d, %Y") %>
  </div>

  <div class="field">
    <%= f.label :status %>: <%= @report.status %>
  </div>

  <div class="field">
    <%= f.label :notes %>: <%= @report.notes %>
  </div>
<% end %>