<h1><%= @location.title %></h1>
<h2><%= @location.description %></h2>

<% if logged_in? %>
	<h4><%= link_to "Add new status", new_status_path %></h4>
	<br>
<% end %>

<ul>
	<% @statuses.each do |stat| %>
		<h4>Update for: <%= link_to stat.created_at, status_path(stat.id) %></h4>
		<% #This is ugly, but all it does is grab the User associated with an update %>
		<% # TODO: Rewrite my_user method for Statuses! %>
		<p>Conductivity: <%= stat.conductivity %>%</p>
		<p>Dissolved Oxygen: <%= stat.o2 %>%</p>
		<p>pH: <%= stat.pH %>%</p>
		<p>Turbidity: <%= stat.turbidity %>%</p>
		<br>
	<% end %>
</ul>

<h4><%= link_to "Back to Locations", locations_path %></h4>