<h1><%= @location.title %></h1>
<h2><%= @location.description %></h2>

<ul>
	<% @updates.each do |up| %>
		<h4>Update for: <%= link_to up.created_at, update_path(up.id) %></h4>
		<p>Lead: <%= up.lead %> mcg</p>
		<p>Mercury: <%= up.mercury %> mcg</p>
		<p>Plutonium: <%= up.plutonium %> mcg</p>
		<br>
	<% end %>
</ul>

<%= link_to "All Locations", locations_path %>